<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste aller Blog-Artikel</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

    <div th:replace="~{FragmentAnmeldeInfo :: loginInfo(${angemeldetAls})}"></div>

    <h1 th:text="'Liste aller Artikel (' + ${#lists.size(artikel_liste)} + ')'"></h1>

    <p th:each="artikel : ${artikel_liste}">
        <a th:href="'/app/artikel/' + ${artikel.getId()}" th:text="${artikel.getTitel()}"></a>
        von
        <span th:text="${artikel.getAutor().getName()}"></span>
        <span class="klein"
              th:text="' (' + ${#temporals.format(artikel.getZeitpunktAngelegt(), 'dd. MMMM yyyy, HH:mm')} + ' Uhr)'" >
        </span>
    </p>
    <br><br>

    <a href="/public/artikel-suche.html">Artikel suchen</a>
    <br><br>

    <p th:if="${angemeldetAls != null}">
        <a href="/editor.html" target="_blank" >Neuen Artikel anlegen</a>
        <br><br>
        <a th:if="${istAdmin}" href="/admin/autorAnlegenFormular">Neuen Autor anlegen</a>
    </p>

</body>
</html>