<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin für Blog-CMS: Ergebnis anlegen neuer Autor</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>

    <h1>Ergebnis anlegen neuer Autor</h1>

    <p th:text="${ergebnis_text}"></p>    
    <br><br>

    <a href="/admin/autorAnlegenFormular" >Zurück zum Formular</a>

</body>
</html>